this ipynb is for data preprocessing 
format the raw data for model

In [1]:
import pandas as pd
import seaborn as sb
import numpy as np
import os
import sys
import warnings 
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt

In [2]:
#current working directory
cwd=os.getcwd()
print(cwd)
print(os.path.dirname(cwd))

/Users/zenghao/Downloads/Kaggle_Titanic/code
/Users/zenghao/Downloads/Kaggle_Titanic

In [3]:
#get raw data
train_data_path=os.path.join(os.path.dirname(cwd),'data/train.csv')
test_data_path=os.path.join(os.path.dirname(cwd),'data/test.csv')
train=pd.read_csv(train_data_path,header=0,index_col=None)
test=pd.read_csv(test_data_path,header=0,index_col=None)

In [4]:
#take a peek into the data 
print("train shape: ",train.shape)
print("test shape :",test.shape)
train.head(5)

train shape:  (891, 12)
test shape : (418, 11)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
train_test=[train,test]

In [6]:
train_missing_ratio=train.isna().sum()/train.shape[0]
train_missing_ratio

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

In [7]:
test_missing_ratio=test.isna().sum()/test.shape[0]
test_missing_ratio

PassengerId    0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.205742
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.002392
Cabin          0.782297
Embarked       0.000000
dtype: float64

In [8]:
for data in train_test:
    data['HasCabin']=0
    has_cabin=pd.notna(data['Cabin'])
    data.loc[has_cabin,'HasCabin']=1

In [9]:
test_fare_na=test[pd.isna(test['Fare'])].index
test_fare_na

Int64Index([152], dtype='int64')

In [10]:
test.loc[test_fare_na,:]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,HasCabin
152,1044,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S,0

In [11]:
#fill the na according to Pclass and ticket
test.loc[test_fare_na,"Fare"]=7.55

In [12]:
embarked_na_index=train.loc[pd.isna(train['Embarked']),:].index
embarked_na_index

Int64Index([61, 829], dtype='int64')

In [13]:
# fill the na according to ticket number
train.loc[embarked_na_index,"Embarked"]="S"

In [14]:
import re

In [15]:
#extract title from name
Title=['Miss',"Mr",'Master','Mrs',"Rare"]
pattern='Miss|Mrs|Master|Mr'

def extract_title(data):
    titles=[]
    for index in data.index:
        title=re.search(pattern,data[index])
        if(title!=None):
            titles.append(title.group())
        else:
            titles.append("Rare")
    return titles

In [16]:
train_titles=extract_title(train['Name'])
test_titles=extract_title(test['Name'])

In [17]:
train['Title']=train_titles
test['Title']=test_titles

In [18]:
ages_train=train.groupby(by=['Title','Pclass']).median(skipna=True)
ages_train=ages_train['Age']
ages_train

Title   Pclass
Master  1          4.0
        2          1.0
        3          4.0
Miss    1         30.0
        2         24.0
        3         18.0
Mr      1         40.0
        2         31.0
        3         26.0
Mrs     1         41.5
        2         32.0
        3         31.0
Rare    1         44.5
        2         42.0
Name: Age, dtype: float64

In [19]:
ages_test=test.groupby(by=['Title','Pclass']).median(skipna=True)
ages_test=ages_test['Age']
ages_test
ages_test['Rare',3]=20

In [20]:
for index in train.loc[train['Age'].isna()].index:
    title_=train.loc[index,'Title']
    pclass_=train.loc[index,'Pclass']
    train.loc[index,'Age']=ages_train[title_,pclass_]

In [21]:
for index in test.loc[test['Age'].isna()].index:
    title_=test.loc[index,"Title"]
    pclass_=test.loc[index,'Pclass']
    test.loc[index,'Age']=ages_test[title_,pclass_]

In [22]:
pd.isna(test).sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
HasCabin         0
Title            0
dtype: int64

In [23]:
pd.isna(train).sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
HasCabin         0
Title            0
dtype: int64

In [24]:
for data in train_test:
    data['Age_Seg']=0
    for i,age in enumerate(data['Age']):
        if(pd.isna(age)):
            print('a nan')
        else:
            data.loc[i,'Age_Seg']=int(age/10)

In [25]:
missing_ratio=train.isna().sum()/train.shape[0]
missing_ratio

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.000000
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.000000
HasCabin       0.000000
Title          0.000000
Age_Seg        0.000000
dtype: float64

In [26]:
missing_ratio=test.isna().sum()/test.shape[0]
missing_ratio

PassengerId    0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.000000
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.782297
Embarked       0.000000
HasCabin       0.000000
Title          0.000000
Age_Seg        0.000000
dtype: float64

In [27]:
sex_dict={'female':0,"male":1}
for data in train_test:
    data['Sex_']=data['Sex'].map(sex_dict)

In [28]:
Title_dict={'Mr':0,'Mrs':1,'Miss':2,'Master':3,'Rare':4}
for data in train_test:
    data['Title_']=data['Title'].map(Title_dict)

In [29]:
Embarked_dict={'S':0,'C':1,'Q':2}
for data in train_test:
    data['Embarked_']=data['Embarked'].map(Embarked_dict)